## Refresh markdown files content.

```bash
cd $(mktemp -d) && git clone https://github.com/weallfloatdownhere/docthis.git .&& python3 docthis.py generate . && git add . && git commit -m "Regen README" && git push
```

---

{%- for repo in github_repositories %}

[***{{ repo.description -}}***]({{ repo.url }})

![GitHub last commit](https://img.shields.io/github/last-commit/{{ repo.repo }}) ![GitHub Repo stars](https://img.shields.io/github/stars/{{ repo.repo }}?style=social) ![GitHub pull requests](https://img.shields.io/github/issues-pr-raw/{{ repo.repo }})

</br>

{%- if repo.install != 'undefined' and repo.install != "" -%}


***QUICK INSTALL***

```bash
$ {{ repo.install }}

```

{%- endif -%}

{%- if repo.readme != 'undefined' and repo.readme != "" -%}

</br>

<details>


<summary>README</summary> 


{{ repo.readme|safe }}


</details>


{%- endif -%}


{% endfor %}
